@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(img/h.png);
    background-size:cover;
    min-height: 100vh;
}
.logo #text
{
    font-size: 3em;
    letter-spacing: 2px;
    margin-top: -2%;
    color: rgb(211, 209, 209);
    margin-left: 34%;
    font-weight: 50;
    letter-spacing: 2px;
    font-family: 'Rancho', cursive;
    position: absolute;
    align-items:flex-start;
    z-index: 1000;
    text-align: center;
    text-decoration: none;
    display: flex;
}

#header3
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header3 {
    position: absolute;
    margin-top: 10vh;
    left: 20%;
    top: 1em;
    padding: 1em;
    
}

#header3 ul
{
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    z-index: 1;
}
.container .card
{
    position: relative;
    width: 400px;
    height: 550px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(225, 225, 225, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    border-left: 1px solid rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(5px);
}
.container .card .content
{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .content
{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .content h2
{
    position: absolute;
    top: -140px;
    right: -10px;
    font-size: 8em;
    color: rgba(211, 204, 204, 0.377);
    pointer-events: none;
}
.container .card .content h3
{
    font-size: 1.8em;
    color: rgb(219, 206, 238);
    z-index: 1;
}
.container .card .content p
{
    font-size: 1em;
    color: rgb(245, 245, 245);
    font-weight: 300;
}
.container .card .content h4
{
    font-size: 0.8em;
    color: rgb(219, 206, 238);
    z-index: 1;
}
.container .card .content a
{
   position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background:rgb(82, 61, 129);
    color: rgb(230, 220, 235);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}