@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/council.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
body::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Logo #text
{
    font-size: 4.5em;
    margin-top:-0.8em;
    margin-left: 26%;
    color: rgb(211, 209, 209);
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Rancho', cursive;
    position: absolute;
    align-items: center;
    text-align: center;
    text-decoration: none;
    position:absolute;
    z-index: 1000;
}

.nav
{
    
    margin-right:1vw;
    margin-top: -38vw;
    z-index: 9999;
}
.nav a button
{
    color: #eeeeee;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 1.8vw;
    border: none;
    /* background:#553c8f ; */
    background-color: transparent;
    cursor: pointer;
}

.nav a button:hover
{
    background-color: #553c8f;
    color: #fff;

}


.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    z-index: 1;
}
.container .card
{
    position: relative;
    width: 700px;
    height: 500px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(225, 225, 225, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    border-left: 1px solid rgba(225, 225, 225, 0.5);
    /* backdrop-filter: blur(5px); */
}
.container .card .content
{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .content
{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .content h2
{
    position: absolute;
    top: -140px;
    right: -10px;
    font-size: 8em;
    color: rgba(187, 179, 179, 0.452);
    /* pointer-events: none; */
}
.container .card .content h3
{
    font-size: 1.6em;
    color: rgb #B026FF;
    z-index: 1;
}
.container .card .content p
{
    font-size: 0.9em;
    color: rgb(219, 209, 209);
    font-weight: 300;
}
.container .card .content a
{
   position: relative;
    display: inline-block;
    padding: 6px 20px;
    margin-top: 15px;
    background: rgb(82, 61, 129);;
    color: #000;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}